<h1>{{header}}</h1>
<div *ngFor="let option of options" class="container">
  <mat-card class="display-card" (click)="changeOptions(option.click, option.newHeader)">
    <mat-card-header>
      <mat-card-title>{{option.title}}</mat-card-title>
      <mat-card-subtitle>{{option.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/{{option.img}}" alt="{{option.imgAlt}}"/>
    <mat-card-content>
      <p>
        {{option.text}}
      </p>
    </mat-card-content>
  </mat-card>
</div>